mat-card{
  padding: 0px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
}

.main-div {
  margin: 20px;
  padding: 0;
}
.form{
  padding: 20px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; 
}

mat-toolbar{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  font-family:italic;
}

mat-form-field{
  font-family:italic;

}

p{
  text-align: center;
}

input {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  text-align: center;
  color: currentColor;
}

button {
  max-width: 200px;
  padding: 2px;
}

