.sidenav-container {
  height: 100%;
  background-size:cover; 
  width:auto;
  background-image: url(C:\Users\bbdnet2453\Projects\EventManager\front-end\event-manager\src\assets\images\backgroundImage.jpg);

}

.sidenav {
  width: 200px;
  background-color: rgba(0,0,0,0.2);
}

.sidenav .mat-toolbar {
  background: inherit;
}



.mat-toolbar.mat-primary {
  background-color: rgba(0,255,255,0);
  position: sticky;
  top: 0;
  z-index: 1;
}

.event-man{
  font-family: cursive;
}