<h2>About Us</h2>

<p>Welcome to the JSt EVENTS platform!</p>

<p>We are a group of 5 aspiring Software Developers who embarked on a 4 day <br>
journey to create a (for the most part) functioning events management platform.</p>

<p>The aim was to create an interactive, easy to navigate platform.<br>
Events hosts share event details with prospective attendees, attendees may <br>
browse upcoming events and purchase tickets to secure their spots.</p>

<p>It has been a rewarding journey and we would like to thank BBD for the <br>
opportunity to grow as developers and expand our skills.<br>
We are are excited to see what the next few months hold!</p>
