<section fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card *ngIf="!formGroup.valid" fxFlex="44"> 
        <mat-toolbar color="primary">Registration</mat-toolbar>
        <form class="form"  fxLayoutAlign="stretch" fxLayout="column" [formGroup]=formGroup (ngSubmit)='postFormDetails()'>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" formControlName='Name'>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" formControlName='Surname'>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Date of Birth"[matDatepicker]="picker" formControlName='DateOfBirth'>
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field class="example-full-width" >
                <input matInput type="number" placeholder="Gender" formControlName='GenderId'>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
                <input matInput type="email" placeholder="Email" formControlName='Email'>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Password" formControlName='PasswordHash'>
            </mat-form-field>
           
            <button  mat-raised-button type="submit" class="btn" color="primary">Register</button>
            </form>    
    </mat-card>
    <button *ngIf="formGroup.valid" type="button" [routerLink]="['/']" mat-raised-button  class="btn" color="primary">Home</button>
            
    
</section>

