mat-card{
    padding: 0px;
    max-width: 100%;
    margin: 40px auto;
    border-radius: 4px;
  }
  
  .main-div {
    margin: 20px;
    padding: 0;
  }
  
  .form{
      padding: 20px;
  }

  @media (min-width: 400px){
      mat-card{
          width: 400px;
      }
  }
