
<section  fxLayoutAlign="center center"  class="main-div">
    <mat-card *ngIf = "!logged" fxFlex="30"> 
        <mat-toolbar color="primary">Login</mat-toolbar>
        <form *ngIf = "!logged" class="form" fxLayoutAlign="stretch" fxLayout="column" [formGroup]='login' (ngSubmit)='onSubmit()'>
        
            <mat-form-field class="example-full-width">
                <input matInput type="email" placeholder="Email" formControlName='email'>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Password" formControlName='password'>
            </mat-form-field>
            <button mat-raised-button [routerLink]="[nav]"type="submit" class="btn" color="primary">Login</button>
            <br/>
            <button mat-raised-button  class="btn" color="primary" [routerLink]="['/register']">Create Profile</button>
            </form>    
    </mat-card>
    <P *ngIf = "logged">You have loggedIn</P>
</section>

