.input-space{
    margin: 5px;
    padding: 10px;
}
#loginForm{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
}

main{
    height: 1000px;
    background-image: url('logo.jpg');
}

