mat-card{
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
  }
  
  .main-div mat-card{
      padding: 0px;
  }
  
  .form{
      padding: 20px;
  }
  
  mat-toolbar{
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
  }