<h2>Create Events Page</h2>

<p>Event information needed</p>

<div>

  <label for="search-box">Title</label>
  <input #searchBox id="search-box"/> <!--  (input)="search(searchBox.value)" /> -->
</div>
<div>
  <label for="search-box">Subtitle</label>
  <input #searchBox id="search-box1"/>
</div>
<div>
  <label for="search-box">Date start time </label>
  <input #searchBox id="search-box1"/>
</div>

<div>
  <label for="search-box">Date</label>
  <input #searchBox id="search-box1"/>
</div>

<div>
  <label for="search-box">Start Time</label>
  <input #searchBox id="search-box1"/>
</div>

<div>
  <label for="search-box">End Time</label>
  <input #searchBox id="search-box1"/>
</div>

<div>
  <label for="search-box">Max People Capacity</label>
  <input #searchBox id="search-box1"/>
</div>

<p>Venue information needed</p>

<div>
  <label for="search-box">Country</label>
  <input #searchBox id="search-box1"/>
</div>

<div>
  <label for="search-box">Province</label>
  <input #searchBox id="search-box1"/>
</div>

<div>
  <label for="search-box">Zip Code</label>
  <input #searchBox id="search-box1"/>
</div>

<div>
  <label for="search-box">Street Address</label>
  <input #searchBox id="search-box1"/>
</div>

<div>
  <label for="search-box">Venue Name</label>
  <input #searchBox id="search-box1"/>
</div>

<p>Tickets information needed</p>

<div>
  <label for="search-box">General Tickets Price</label>
  <input #searchBox id="search-box1"/>
</div>

<div>
  <label for="search-box">General Tickets Available</label>
  <input #searchBox id="search-box1"/>
</div>

<div>
  <label for="search-box">VIP Tickets Price</label>
  <input #searchBox id="search-box1"/>
</div>


<div>
  <label for="search-box">General Tickets Available</label>
  <input #searchBox id="search-box1"/>
</div>
